extends ../layouts/base
block content
	main
		include ../components/rab-leg
		//- include ../components/video
		include ../components/top-companies
		include ../components/arg-vid
		include ../components/helper
		include ../components/found
		include ../components/perevagi
		include ../components/experts
		include ../components/experts_red
		include ../components/reviews