section.section.arg-vid
	.arg-vid__header
		.container 
			h2.mcfr-desc АРГУМЕНТОВАНА ВІДПОВІДЬ НА ВАШЕ ЗАПИТАННЯ
			p Основну увагу в Системі приділяємо наданню готових консультацій, що містять ВИЧЕРПНУ ОДНОЗНАЧНУ і ГАРАНТОВАНО ПРАВИЛЬНУ ВІДПОВІДЬ із прикладами розрахунків, зразками заповнення форм та посиланнями на нормативно-правові акти.
	.arg-vid__body 
		.container.arg-vid__body-1
			.row
				.col-lg-6
					a(href='#' data-slide="1").list__item
						.item__badge.active
							span Автори
						#recommendations.item__desc.active
							| Роз’яснення дають провідні фахівці України з питань бухобліку та оподаткування, практики та фахівці держорганів
					
					a(href='#' data-slide="2").list__item
						.item__badge
							span Ситуації
						#recommendations.item__desc
							| Спірні робочі питання, які потребують конкретних рішень
					a(href='#' data-slide="3").list__item
						.item__badge
							span ВАЖЛИВІ ПРИМІТКИ
						#recommendations.item__desc
							| Виділення тез або матеріалів, на які варто звернути увагу
					a(href='#' data-slide="4").list__item
						.item__badge
							span Законодавство
						#recommendations.item__desc
							| Посилання на конкретний НПА для підтвердження позиції автора
					a(href='#' data-slide="5").list__item
						.item__badge
							span Приклади
						#recommendations.item__desc
							| Конкретні приклади розв’язання проблемних робочих ситуацій
					a(href='#' data-slide="6").list__item
						.item__badge
							span Форми документів
						#recommendations.item__desc
							| Шаблони документів із зразками їх заповнення
					a(href='#' data-slide="7").list__item
						.item__badge
							span Вибране
						#recommendations.item__desc
							| Додавання консультацій до вибраного, щоб відстежувати майбутні зміни
					a(href='#' data-slide="8").list__item
						.item__badge
							span ІЗ КОНСУЛЬТАЦІЇ
						#recommendations.item__desc
							| Із окремої ситуації можна перейти на велику і докладну консультацію, яка детально розкриває тему

				.col-lg-6
					.site
						img(src='./images/site.png')
						//- .q
						//- 	img(src='./images/avtor.png')
						//- .q
						//- 	img(src='./images/zakon.png')
						//- .q
						//- 	img(src='./images/sit.png')
						//- .q
						//- 	img(src='./images/rozjasn.png')
						//- .q
						//- 	img(src='./images/docs.png')
						//- .q
						//- 	img(src='./images/vibrane.png')
		