section.section.promo-slides.experts.bg-grey 
	.container 
		h2.mcfr-title ЛИШЕ КРАЩІ ЕКСПЕРТИ-ПРАКТИКИ
		.def-sl#experts-slider
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Morosovskaya.png')")
				h4.experts-slider-name Морозовська Галина
				p.experts-slider-desc експерт з питань бухгалтерського обліку та оподаткування
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Petryga.png')")
				h4.experts-slider-name Петрига Денис
				p.experts-slider-desc експерт з питань бухгалтерського обліку та оподаткування, САР, DipFM, DipMA

			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Karpova.png')")
				h4.experts-slider-name Карпова Влада
				p.experts-slider-desc консультант з питань бухгалтерського обліку та оподаткування, к. е. н.
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Efimov.png')")
				h4.experts-slider-name Єфімов Олександр
				p.experts-slider-desc керуючий партнер Адвокатського об’єднання «Адвокатська фірма «Єфімов та партнери», адвокат, аудитор, член Науково-консультативної ради при Верховному Суді, доктор філософії права, доцент
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Tovchenyk.png')")
				h4.experts-slider-name Товченик Наталія
				p.experts-slider-desc експерт з бухгалтерського обліку та оподаткування
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Myshyn.png')")
				h4.experts-slider-name Мішин Микола
				p.experts-slider-desc керівник групи трансфертного ціноутворення КПМГ в Україні
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Lystrova.png')")
				h4.experts-slider-name Лістрова Світлана
				p.experts-slider-desc експерт з бухгалтерського обліку та оподаткування
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Krychun.png')")
				h4.experts-slider-name Кричун Петро
				p.experts-slider-desc Президент Федерації Професійних Бухгалтерів та Аудиторів України (ФПБАУ), CFO групи компаній, к.е.н
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Vysytskaya.png')")
				h4.experts-slider-name Висіцька Ірина
				p.experts-slider-desc адвокат, партнер Адвокатського об’єднання «Адвокатська фірма «Єфімов та партнери»
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Rogoznyj.png')")
				h4.experts-slider-name Рогозний Сергій
				p.experts-slider-desc член ВПГО «Спілка аудиторів України», член Федерації професійних бухгалтерів та аудиторів України, експерт з міжнародних стандартів фінансової звітності (МСФЗ), cертифікований аудитор, юрист, CAP, DipIFR
		

		a.button.m-auto(href='https://1gl-vip.expertus.ua/#/document/16/23967/dfasx8n6hu/', target='_blank')  БІЛЬШЕ ЕКСПЕРТІВ
