section.section.promo-slides.experts
	.container 
		h2.mcfr-title РЕДАКЦІЯ СИСТЕМИ
		.def-sl#experts-slider2
					
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/redactiya/Kravchenko.png')")
				h4.experts-slider-name Кравченко Людмила
				p.experts-slider-desc керівник експертної групи MCFR Головбух
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/redactiya/Lebedyk.png')")
				h4.experts-slider-name Лебедик Альона
				p.experts-slider-desc експерт МСFR Головбух, ACCA DipIFR(rus)
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/redactiya/Sharij.png')")
				h4.experts-slider-name Шарий Тарас
				p.experts-slider-desc керівник Об’єднаної редакції MCFR Головбух, ACCA DipIFR (rus)
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/redactiya/Sharova.png')")
				h4.experts-slider-name Шарова Оксана
				p.experts-slider-desc керівник групи експертної підтримки «Головбух»
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/redactiya/Vasylchenko.png')")
				h4.experts-slider-name Васильченко Наталія
				p.experts-slider-desc головний редактор Системи
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/redactiya/Dudnyk.png')")
				h4.experts-slider-name Дуднік Андрій
				p.experts-slider-desc провідний консультант Системи
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/redactiya/Ozerova.png')")
				h4.experts-slider-name Озерова Олена
				p.experts-slider-desc провідний консультант експертної підтримки «Головбух»
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/redactiya/Sych.png')")
				h4.experts-slider-name Січ Олег
				p.experts-slider-desc шеф-редактор MCFR Головбух, ACCA DipIFR (rus)
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/redactiya/Nyznyk.png')")
				h4.experts-slider-name Нижник Тетяна
				p.experts-slider-desc керівник експертної групи MCFR Головбух
			
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/redactiya/Chygyr.png')")
				h4.experts-slider-name Чигир Ірина
				p.experts-slider-desc головний редактор журналу «Головбух: Праця та зарплата»

			


		a.button.m-auto(href='https://1gl-vip.expertus.ua/#/document/16/23967/dfas1id40g/', target='_blank')  УСЯ РЕДАКЦІЯ
