section.section.helper
	.container
		h2.mcfr-title БЕЗЛІМІТНА ЕКСПЕРТНА ПІДТРИМКА ДЛЯ КОРИСТУВАЧІВ 
			br
			| VIP-версії Expertus: Головбух
		.row
			.col-lg-6
				h3.mcfr-desc ЕКСПЕРТНА ПІДТРИМКА
				.advice__elem
					.advice__title
						| Онлайн помічник
					.advice__desc
						| Черговий експерт (
						a(href="https://1gl-vip.expertus.ua/#/document/16/25656/dfaslgmtp1/", target="_blank") онлайн-помічник
						| ) у спеціальному чаті оперативно відповість на просте бухгалтерське запитання, допоможе розібратися в Системі, добере потрібні посилання.
				.advice__elem
					.advice__title
						| Персональний експерт
					.advice__desc
						a(href="https://1gl-vip.expertus.ua/#/document/16/25656/dfaslgmtp1/", target="_blank") Експерти максимум 
						| за 3 дні нададуть детальну письмову відповідь на робоче запитання, яке потребує глибокого аналізу

				a.button.demourl(href='https://1gl-vip.expertus.ua/#/online-helper/', target='_blank') Поставити запитання
			.col-lg-6.relative
				img(src="./images/online_help.png").gif
				img(src="./images/letter_help550.png").absolute
			.container.mt-5
				p В усіх розділах Системи працює «розумний» 
					a(href=" https://1gl-vip.expertus.ua/#/document/16/23990/dfas25nfeh/", target="_blank") пошук.
					| &nbsp; Він знаходить поради експертів та інформацію з інших розділів (наприклад, бланк чи статтю журналу), якщо із запиту зрозуміло, що вони стануть у пригоді.

		h2.mcfr-title.mcfr-title--dost Безкоштовний демодоступ на 3 дні
		a.button.demo.green(href='https://1gl-vip.expertus.ua/#/customer/demo', target='_blank')  Отримати VIP-доступ
