section.section.perevagi
	.container
		h2.mcfr-title 7 ключових переваг роботи із системою Expertus: Головбух
		.perevagi__items
			.d-flex.align-items-center.mt-5
				img(src="./images/znak_for_perevag/24_7.png", alt="24_7.png")
				h3 ЕКСПЕРТНА ПІДТРИМКА 24/7
			.d-flex.align-items-center
				img(src="./images/znak_for_perevag/Spokyj.png", alt="24_7.png")
				h3 ЕСПОКІЙ ТА ВПЕВНЕНІСТЬ У РЕЗУЛЬТАТАХ СВОЄЇ РОБОТИ
			.d-flex.align-items-center
				img(src="./images/znak_for_perevag/Tochna.png", alt="24_7.png")
				h3 ТОЧНА ВІДПОВІДЬ НА БУХГАЛТЕРСКЕ ЗАПИТАННЯ БУДЬ-ЯКОЇ СКЛАДНОСТІ
			.d-flex.align-items-center
				img(src="./images/znak_for_perevag/Poshuk.png", alt="24_7.png")
				h3 ШВИДКИЙ ІНТЕЛЕКТУАЛЬНИЙ ПОШУК ІНФОРМАЦІЇ
			.d-flex.align-items-center
				img(src="./images/znak_for_perevag/Baza.png", alt="24_7.png")
				h3 ДОСТУПНА БАЗА ІЗ 25 000 РІШЕНЬ ПРАКТИЧНИХ РОБОЧИХ СИТУАЦІЙ
			.d-flex.align-items-center
				img(src="./images/znak_for_perevag/Actualna.png", alt="24_7.png")
				h3 ЗАВЖДИ АКТУАЛЬНА ІНФОРМАЦІЯ (НАПОВНЕННЯ СИСТЕМИ ЗА РАХУНОК ЗАПИТАНЬ ВІД ПОНАД 3000 БУХГАЛТЕРІВ УКРАЇНИ)
			.d-flex.align-items-center
				img(src="./images/znak_for_perevag/Uchast.png", alt="24_7.png")
				h3 УЧАСТЬ У ПРОФІЛЬНИХ ТЕМАТИЧНИХ ВЕБІНАРАХ З ЕКСПЕРТАМИ
		h4.mcfr-desc Долучайся до команди Expertus: Головбух, будь справжнім профі!
