section.section.rab-leg
	.container
		.row.justify-content-between
			.col-12.col-md-3
				//- img(src="./images/logo-ek.png").logoEka
				img(src="./images/eka_logo-1.png").logoEka
				span.logo-text Експертно-правова система для бухгалтера
			//- .col-12.col-md-9
			//- 	.d-flex.justify-content-md-end.nav-menu.mt-20.mt-md-0
			//- 		a(href="/").def-link.active Стандартна версія
			//- 		a(href="/").def-link Vip-версія
		h1.rab-leg__title Компетентна підтримка професіоналів системи Expertus: Головбух
		h4.rab-leg__desc  Введіть запитання і отримайте готове робоче рішення, наприклад:

		form.rab-leg__search(action='', style="margin-bottom: 40px")
			input#phrase(type='search', placeholder='податкові накладні на часткові аванси', value='')
			button#searchform.search__button(style="min-width: 180px") Знайти відповідь
		a.button.m-auto.green(href='https://1gl-vip.expertus.ua/#/customer/demo', target='_blank')  Спробувати зараз


