section.section.reviews
	.container 
		h2.mcfr-title НАМ ДОВІРЯЮТЬ ПРОФЕСІОНАЛИ СВОЄЇ СПРАВИ
		.slideRev
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/otzyvy_photo/Kravchuk_Olena.png')")
						//- .user__name Остап Федоренко
					//- div.img-rev
					//- 	img(src="./images/star.png")
					//- 	span 10 з 10

				.review__body 
					p 
						b Олена Кравчук, 
						| головний бухгалтер ТОВ «УкрНафтаГаз(в)»
						<br />
						| «Expertus: Головбух — це ціла скарбниця консультацій, порад, довідників. І до того ж — завжди під рукою. Орієнтуватися в масі інформації дуже допомагає зручний пошук: просто ставиш своє запитання в пошуковому рядку, і Система швидко підбирає статті й нормативні документи до теми. Зручно й професійно!»
			
	
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/otzyvy_photo/Bezpalyuk_Natalya.png')")
				.review__body 
					p 
						b Наталія Безпалюк, 
						| головний бухгалтер ТОВ «Промтехнолог»
						<br />
						| «Система «Expertus: Головбух» — просто знахідка для бухгалтера. Хоч яке б запитання виникло — професійна відповідь на нього вже готова. Приємно вражає індивідуальний підхід, адже завше можна поставити своє конкретне запитання, і експерти оперативно розв’яжуть навіть найскладнішу ситуацію. І все це — з будь-якого куточка світу, де є інтернет».
			
	
			
	
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/otzyvy_photo/Gurov_Adnrij.png')")
				.review__body 
					p 
						b Андрій Гуров, 
						| головний бухгалтер ТОВ «НМЦ Україна»
						<br />
						| «Система «Expertus Головбух» практично корисна і дозволяє оперативно отримати вичерпну інформацію по конкретній ситуації та чіткі й однозначні відповіді, що відповідають чинному законодавству».
			
	
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/otzyvy_photo/Lukashova_Ludmyla.png')")
				.review__body 
					p 
						b Людмила Лукашова, 
						| головний бухгалтер «Екостайл
						<br />
						| «Актуальна інформація, майже завжди можна знайти відповідь на складне запитання. Дуже корисні готові зразки, у тому числі локальних актів, багато прикладів, які можна скачати і підлаштувати під свою фірму. Хороші фахівці, відповіді дають швидко, грамотно і дуже виручають у складних для нас ситуаціях! Спасибі розробникам системи «Expertus: Головбух», усе для бухгалтера під рукою».
			
	
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/otzyvy_photo/Velychko_Anastasya.jpg')")
				.review__body 
					p 
						b Величко Анастасія, 
						| головний бухгалтер Агрофірми «Лан»
						<br />
						| «Використовую цю Систему в своїй роботі вже понад три роки. Дуже подобається з нею працювати, великий обсяг корисної інформації, доступна, зрозуміла мова донесення до користувачів, завжди актуальна, оновлена база. Якщо ж щось залишається не зрозумілим до кінця, завжди можна звернутися до онлайн-помічника або до експертів. Дуже задоволена і завжди рекомендую її своїм колегам».
			
	
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/otzyvy_photo/Vakulenko_Olena.jpg')")
				.review__body 
					p 
						b Вакуленко Олена, 
						| головний бухгалтер ТОВ «Медіком»
						<br />
						| «За чотири роки спілкування із Системою ще не виникло жодного бухгалтерського запитання, на яке не отримала б від експертів оперативної, аргументованої, вичерпної і зрозумілої відповіді. Дякую!»
			
	
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/otzyvy_photo/Stepanov_Veraryj.jpg')")
				.review__body 
					p 
						b Степанов Валерій,  
						| головний бухгалтер «Транс-Експрес»
						<br />
						| «Матеріали доступні, достовірні, зрозумілі, легко знайти потрібний матеріал. Велика база, що охоплює всі сторони бухгалтерського обліку. Відмінна консультаційна і сервісна підтримка. Зручний інтерфейс системи. Багато корисних і зручних сервісів для практичного застосування».
			
	
	
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/otzyvy_photo/Dyachuk_Natalya.jpg')")
				.review__body 
					p 
						b Дячук Наталія,   
						| головний бухгалтер ТОВ «Промзбутсервіс»
						<br />
						| «До знайомства із Системою Експертус: Головбух довго шукала відповіді на численні запитання, що виникають в ході роботи головного бухгалтера з бухобліку, оподаткування, використовувала різні джерела інформації і часто не знаходила відповіді. Доводилося діяти на власний розсуд. Але тепер у мене є незамінний помічник в особі Системи Експертус: Головбух, отримую відповіді на всі запитання!»
			
	
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/otzyvy_photo/Yakymenko_Volodymyr.jpg')")
				.review__body 
					p 
						b Якименко Володимир,    
						| головний бухгалтер ТОВ «Резонанс»
						<br />
						| «У системі «Expertus: Головбух» зручний інтерфейс і справді «розумний» пошуку. Хороша робота експертів, повний пакет інформації. Теорія розписана з прикладами використання в різних робочих ситуаціях».
			
		a.button.m-auto.green(href='https://1gl-vip.expertus.ua/#/customer/demo', target='_blank')  Бажаю демодоступ
