section.section.top-companies
  .container
    h2.mcfr-title Expertus: Головбух уже обрали
    .def-sl#top-companies-slider
      img(src="./images/nib.png", alt="nib")
      img(src="./images/zod.jpeg", alt="zod")
      img(src="./images/set.jpeg", alt="set")