section.section.video(style="padding-bottom: 40px")
    .video__header
        .container 
            h2.mcfr-title Чому обирають Expertus: Головбух?
            iframe(width='100%' height='615' src='https://www.youtube.com/embed/gOIusx-9DHs' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')